<div id="app">
  <div class="app-container">
    <div class="onboarding-page-container">
      <header class="header-container">
        <div class="header-image" style="background-image:url(/static/assets/aaronlamphere.png);"></div>
        <div class="header-page-container">
          <div class="step-tracker-container">
            <div class="step-tracker">
              <div class="step step__active">1</div>
              <div class="step">2</div>
              <div class="step">3</div>
            </div>
          </div>
          <div class="header-copy header-copy__call">
            <div class="header-inner-container">
              <div class="schedule-header-copy">
                <h4>Let's take the first steps together!</h4>
                <p><span>I'm </span><span>Aaron</span><span>, your program manager. I'd like to set up an orientation call to give you an overview of all the resources you now have at your disposal and answer any questions you might have. </span>
                  <strong
                  >You must schedule an onboarding call within 3 days or your trial will be terminated.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="page-container">
        <div class="onboarding-page onboarding-page__call">
          <div class="calendly-wrapper">
            {/* This is where the calendar will go */}
          </div>
          <div class="navigation-buttons navigation-buttons__call">
            <button class="button button__mini">Continue</button>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
